name: Mentions

on:
  issues:
    types: [opened, edited]
  issue_comment:
    types: [created, edited]
  pull_request:
    types: [opened, edited, review_requested]
    branches:
      - master
  pull_request_review:
    types: [submitted]
    branches:
      - master
  pull_request_review_comment:
    types: [created, edited]
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  mention-to-teams:
    runs-on: ubuntu-latest
    steps:      
#      - name: Debug Action
#        uses: hmarr/debug-action@v1.0.0
      - name: Run
        continue-on-error: true
        uses: JustSlone/actions-mention-to-teams@v0.4-beta
        with:          
          teams-webhook-url: ${{ secrets.TEAMS_WEBHOOK_URL }}
          run-id: ${{ github.run_id }}     
